body{
	display: flex;
	flex-direction: column;
	background-color: rebeccapurple;
}
main{
	display: flex;
	flex: auto;
}

article{
	flex: 2;
	overflow-y: auto;
}
aside{
	flex: 3;
	overflow-y: auto;
}

